.fees-container {
    padding: 2.5rem 1rem;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

#customers td,
#customers th {
    border-bottom: 2px solid var(--primary-color);
    padding: 8px;
}

#customers tr .fee-tab {
    border-bottom: 2px solid var(--bg-color);
}

#customers tr .fee-tabb {
    border-bottom: 2px solid var(--secondary-color);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color: var(--bg-color);
}