.campus-pd {
    background-color: var(--primary-color);
    border-radius: .2rem;
}

.campus-gp {
    padding: .5rem 1rem;
    border-left: .2rem solid var(--bg-color);
}

.campus-box1 {
    background-color: var(--bg-color);
    color: var(--primary-color);
    padding: 2.5rem 1rem;
}

.campus-list_ul {
    list-style-position: outside;
}

.campus-box3 {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
}

@media only screen and (min-width: 768px) {
    .campus-pd {
        width: fit-content;
    }
}